player-connection-mode=Listen
player-connection-guid=2935518438
player-connection-debug=0
player-connection-project-name=Unity_2D_Photon_Practice_20221005
player-connection-ip=192.168.69.6
player-connection-ip=192.168.30.1
player-connection-ip=172.25.250.1
player-connection-ip=192.168.56.1
wait-for-native-debugger=0
hdr-display-enabled=0
gc-max-time-slice=3
